* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black ;
  border-bottom: 1px solid black ; */
}

/*! debug.css | MIT License | zaydek.github.com/debug.css */
/* *:not(path):not(g) {
	color:                    hsla(210, 100%, 100%, 0.9) !important;
	background:               hsla(210, 100%,  50%, 0.5) !important;
	outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

	box-shadow: none !important;
} */

html {
  color-scheme: light dark;
  scroll-behavior:smooth;
}

img {
  max-width: 100%;
  display: block;
}

:root {
  --text: #333;
  --background: white;
  --primary: #694dcc;
  --secondary: #eaceb2;
  --accent: #d4afaf;
  --ff-base: Arial, Helvetica, sans-serif;
  --ff-accent: 'Titillium Web', sans-serif, Helvetica, Arial;

    /* Step -2: 12.50px → 9.17px */
    --step--2: clamp(0.57rem, calc(0.86rem + -0.38vw), 0.78rem);

    /* Step -1: 15.00px → 14.83px */
    --step--1: clamp(0.93rem, calc(0.94rem + -0.02vw), 0.94rem);
  
    /* Step 0: 18.00px → 24.00px */
    --step-0: clamp(1.13rem, calc(0.99rem + 0.68vw), 1.50rem);
  
    /* Step 1: 21.60px → 38.83px */
    --step-1: clamp(1.35rem, calc(0.96rem + 1.96vw), 2.43rem);
  
    /* Step 2: 25.92px → 62.83px */
    --step-2: clamp(1.62rem, calc(0.78rem + 4.19vw), 3.93rem);
  
    /* Step 3: 31.10px → 101.66px */
    --step-3: clamp(1.94rem, calc(0.34rem + 8.02vw), 6.35rem);
  
    /* Step 4: 37.32px → 164.48px */
    --step-4: clamp(2.33rem, calc(-0.56rem + 14.45vw), 10.28rem);
  
    /* Step 5: 44.79px → 266.14px */
    --step-5: clamp(2.80rem, calc(-2.23rem + 25.15vw), 16.63rem);



      /* Space 3xs: 2px → 4px */
  --space-3xs: clamp(0.13rem, calc(0.08rem + 0.23vw), 0.25rem);

  /* Space 2xs: 4px → 7px */
  --space-2xs: clamp(0.25rem, calc(0.18rem + 0.34vw), 0.44rem);

  /* Space xs: 6px → 11px */
  --space-xs: clamp(0.38rem, calc(0.26rem + 0.57vw), 0.69rem);

  /* Space s: 8px → 14px */
  --space-s: clamp(0.50rem, calc(0.36rem + 0.68vw), 0.88rem);

  /* Space m: 12px → 21px */
  --space-m: clamp(0.75rem, calc(0.55rem + 1.02vw), 1.31rem);

  /* Space l: 16px → 28px */
  --space-l: clamp(1.00rem, calc(0.73rem + 1.36vw), 1.75rem);

  /* Space xl: 24px → 42px */
  --space-xl: clamp(1.50rem, calc(1.09rem + 2.05vw), 2.63rem);

  /* Space 2xl: 32px → 56px */
  --space-2xl: clamp(2.00rem, calc(1.45rem + 2.73vw), 3.50rem);

  /* Space 3xl: 48px → 84px */
  --space-3xl: clamp(3.00rem, calc(2.18rem + 4.09vw), 5.25rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 2px → 7px */
  --space-3xs-2xs: clamp(0.13rem, calc(0.01rem + 0.57vw), 0.44rem);

  /* Space 2xs-xs: 4px → 11px */
  --space-2xs-xs: clamp(0.25rem, calc(0.09rem + 0.80vw), 0.69rem);

  /* Space xs-s: 6px → 14px */
  --space-xs-s: clamp(0.38rem, calc(0.19rem + 0.91vw), 0.88rem);

  /* Space s-m: 8px → 21px */
  --space-s-m: clamp(0.50rem, calc(0.20rem + 1.48vw), 1.31rem);

  /* Space m-l: 12px → 28px */
  --space-m-l: clamp(0.75rem, calc(0.39rem + 1.82vw), 1.75rem);

  /* Space l-xl: 16px → 42px */
  --space-l-xl: clamp(1.00rem, calc(0.41rem + 2.95vw), 2.63rem);

  /* Space xl-2xl: 24px → 56px */
  --space-xl-2xl: clamp(1.50rem, calc(0.77rem + 3.64vw), 3.50rem);

  /* Space 2xl-3xl: 32px → 84px */
  --space-2xl-3xl: clamp(2.00rem, calc(0.82rem + 5.91vw), 5.25rem);

  /* Custom pairs */
  /* Space s-l: 8px → 28px */
  --space-s-l: clamp(0.50rem, calc(0.05rem + 2.27vw), 1.75rem);
   --fw--1: 300;
   --fw-0: 400;
   --fw-1: 600;
   --fw-2: 900;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f8f7f8;
    --background: #000000;
    --primary: #694dcc;
    --secondary: #9f675a;
    --accent: #045728;
  }
}

.scroll-container {
  position: absolute;
  top: 0;
  right: 2ch;
  height: 100%;
}

.scroll-container:before {
  content: '';
  display: block;
  height: 100vh;
  pointer-events: none;
}

.scroll-container a {
  position: sticky;
  top: 88vh;
  cursor: pointer;
  font-size: var(--step-1);
  text-align: center;
  line-height: var(--step-1);
}

body{
  position: relative;
  font-family: var(--ff-base);
  font-size: var(--step-0);
  line-height: 1.6;
  color: var(--text);
}

.flow > * + * {
  margin-top: 1em;
}

h1, h2, h3 {
  font-family: var(--ff-accent);
}

h1{
  font-size: var( --step-3);
  font-weight: var(--fw-2);
  line-height: 1;
}

h2{
  font-size: var( --step-3);
  font-weight: var(--fw-2);
  line-height: 1;
}

h3{
  font-size: var( --step-1);
  font-weight: var(--fw-2);
  line-height: 1.1;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-family: var(--ff-accent);
}
.shadow-box{  
  position: relative;
}
.shadow-box::before{
  /* border-bottom: 1px solid black; */
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-box-shadow: 0 2px 3px #eee;
  -moz-box-shadow: 0 2px 3px #eee;
  box-shadow: 0 2px 3px #eee;
}

.height_100svh{
  min-height: 100svh;
}


.height_100svh-h1{
  min-height: calc(100svh - var(--step-3) - var(--space-m) - var(--step-0) - var(--space-xs) - 50px);
}
.max-width-1200{  
  max-width: 1200px;  
  margin: 0 auto;
}


.max-width-600{  
  max-width: 600px;  
  margin: 0 auto;
}

.text-transform_uppercase{
  text-transform: uppercase;
}

.twitter-container{
  min-height: 800px;
  min-width: 600px;
}
.twitter-timeline{
  display: block;
  width: 100%;
  height: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.pt_1{
  padding-top: var(--space-s);
}

.pl_1{
  padding-left: var(--space-s);
}
.flex-center {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: stretch;
}
.flex-start {
  display: flex;
  justify-content: start;
  justify-items: center;
  align-items: center;
  align-content: stretch;
}

.column-gap_1{
  column-gap: var(--space-s);
}
.flex-direction_column{
  flex-direction: column; 
}

.width-height_100{
  width: 100%;
  height: 100%;
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  row-gap: 0;
  column-gap: 2ch;
}

nav li{
  list-style-type: none;
}

nav ul a{
  height: 40px;
  line-height: 40px;
  display: block;
  padding: auto; 
  text-align: center;
  font-weight: var(--fw-1);
}

nav >a {
  display: flex;
  align-items: center;
  font-weight: var(--fw-1);
  font-size: var(--step-1);  
  color: var(--text);
  font-weight: var(--fw-1);
}

nav > a img{
  width: 56px;
  height: 56px;
}
nav > a p {
  padding-left: .5rem;
  line-height: .9;
}
 .site-title{
  font-size: var(--step-1);
  font-weight: var(--fw-1);
  text-transform: uppercase;
}
.site-description{
  text-align: start;
  color: var(--secondary);  
  font-size: var(--step-0);
  font-weight: var(--fw-1);
}

.hero {
  height: calc(100svh - 40px - 2rem);
  width: 100svw;
  position: relative;
  color: var(--background);
}
.hero h1{
  font-size: var( --step-2);
  line-height: 1.1;
}

.hero img{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: brightness(.8);   */
}
.hero address a{
  font-size: var( --step-2);
  font-weight: var(--fw-2);
  color: var(--background);
}
.hero address i{
  position: relative;
  color: var(--accent);
}

.hero address i::before{
  position: absolute;
  width: 100%;
  top: 1.2em;
  border: .2rem solid var(--accent);
  border-radius: .5rem;
  content: '';
}
.opacity-background{
  position: relative;
  padding: 1rem;
}
.opacity-background::after{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  width: 100%;
  z-index: -1;
  /* background-color: var(--secondary); */
  backdrop-filter: invert(.15) brightness(.6) ;
  opacity: 0.8;
  border-radius: .3rem;
  -webkit-box-shadow:  
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.034),
  -2.8px -2.8px 2.2px rgba(0, 0, 0, 0.034),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.048),
  -6.7px -6.7px 5.3px rgba(0, 0, 0, 0.048),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.06),
  -12.5px -12.5px 10px rgba(0, 0, 0, 0.06),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.072),
  -22.3px -22.3px 17.9px rgba(0, 0, 0, 0.072),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.086),
  -41.8px -41.8px 33.4px rgba(0, 0, 0, 0.086),
  100px 100px 80px rgba(0, 0, 0, 0.12),
  -100px -100px 80px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.034),
  -2.8px -2.8px 2.2px rgba(0, 0, 0, 0.034),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.048),
  -6.7px -6.7px 5.3px rgba(0, 0, 0, 0.048),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.06),
  -12.5px -12.5px 10px rgba(0, 0, 0, 0.06),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.072),
  -22.3px -22.3px 17.9px rgba(0, 0, 0, 0.072),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.086),
  -41.8px -41.8px 33.4px rgba(0, 0, 0, 0.086),
  100px 100px 80px rgba(0, 0, 0, 0.12),
  -100px -100px 80px rgba(0, 0, 0, 0.12);
  box-shadow:  
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.034),
  -2.8px -2.8px 2.2px rgba(0, 0, 0, 0.034),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.048),
  -6.7px -6.7px 5.3px rgba(0, 0, 0, 0.048),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.06),
  -12.5px -12.5px 10px rgba(0, 0, 0, 0.06),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.072),
  -22.3px -22.3px 17.9px rgba(0, 0, 0, 0.072),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.086),
  -41.8px -41.8px 33.4px rgba(0, 0, 0, 0.086),
  100px 100px 80px rgba(0, 0, 0, 0.12),
  -100px -100px 80px rgba(0, 0, 0, 0.12);
}


.background-color_1{
  background-color: var(--secondary);
}
.color_1{
  color:var(--background);
}

.button_1{
  min-width: 400px;
  border: 1px solid var(--primary);
  padding: var(--space-xs);
  margin: var(--space-m);
  box-sizing: content-box;
  transition: background-color 200ms ease-out;
}

.button_1:hover{
  border: 1px solid var(--background);
  background-color: var(--primary);
  color: var(--background);
}